<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class ="container">
 <div class ="row">
 <div class="col-offset-md-3 col-md-6">

 <h1>Song's List</h1>

 
 <form class="form" method = "post">

 <div class ="form-group">
 <label for="NameTextField">Song</label>
 <input type = "text" class="form-control"
 id="NameTextField"
 placeholder="Enter the song title"
 Name="Name" 
 value= "<%= Songs.Name %>"
 required>
 </div>

 <div class ="form-group">
 <label for="ArtistTextField">Artist</label>
 <input type = "text" class="form-control"
 id="ArtistTextField"
 placeholder="Enter the artist name"
 Name="Artist" 
 value= "<%= Songs.Artist %>"
 required>
 </div>

 <div class ="form-group">
 <label for="ReleasedTextField">Released</label>
 <input type = "text" class="form-control"
 id="ReleasedTextField"
 placeholder="Enter the year the song was released"
 Name="Released"
 value= "<%= Songs.Released %>"
  required>
 </div>

 <div class ="form-group">
 <label for="DescriptionTextField">Description</label>
 <textarea type = "text" class="form-control"
 id="DescriptionTextField"
 placeholder="Enter a brief description of the background of the song"
 Name="Description" required>
  <%= Songs.Description %>
  </textarea>
 </div>
<br>
<button class ="btn-btn-primary" type="submit">
<i class="fas fa-edit"></i>Submit
</button>
 
 <a href="/Songslist" class="btn btn-warning">
 <i class="fas f-undo"></i>Cancel</a>
 
 </form>
 
 </div>
 </div>
</div>







<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>